@font-face {
 font-family: "icons";
 src: url("icomoon.woff") format("woff");
}
@font-face {
 font-family: "noto";
 src: url("NotoSans-Regular-webfont.woff") format("woff");
}
html{
  background-color:rgb(196, 180, 130);
  font-family : "noto", arial;
}
html .icon{
  font-family:"icons";
}
html, body{
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
}
body{
  display : flex;
  flex-flow:column wrap;
  justify-content:flex-start;
  align-content:center;
  align-items:center;
}
#wraper{
  width:90vw;
  height:100vh;
  max-width:550px;
}
#logo{
  margin-top:15px;
  width:150px;
  height:auto;
}
#bandeau_top{
  margin-top: 30px;
  max-width:540px;
  width:90vw;
  height:auto;
}
#menu_but{
  width:64px;
  height:64px;
  font-size:3em;
  background-color:rgba(209, 209, 209, 0.5);
  position:absolute;
  right:20px;
  top:10px;
  outline: 0;
  border:1px solid white;
  border-radius:5px;
}
#menu_but:focus {
  outline:0;
}
#menu_but::-moz-focus-inner {
  border: 0;
}
#menu{
  position:absolute;
  right:0;
  top:76px;
}
.invisible{
  display:none;
}
#menuWrapper{
  max-width:380px;
  display:flex;
  flex-flow:row wrap;
  justify-content:flex-start;
  align-content:flex-start;
  align-items:flex-start;
  background-color:rgb(190, 190, 190);
}
#form{
  display:flex;
  flex-flow:column nowrap;
  justify-content:flex-start;
  align-content:flex-start;
  align-items:flex-start;
}
#form > * {
  margin-top:15px;
  width:100%;
}
#form #box_civilite label{
  height:45px;
  width:120px;
  display:flex;
  flex-flow:row nowrap;
  justify-content:flex-start;
  align-content:center;
  align-items:center;
}
input[type="radio"]{
  display:none;
}
input[type="radio"] + label .retroCont{
    display : flex;
    flex-flow:row nowrap;
    justify-content:center;
    align-content:center;
    align-items:center;
    width:33px;
    height:45px;
}
#form input[type="radio"] + label .retroCont span{
  font-family:"icons";
  font-size:2em;
  height:40px;
  width:40px;
}
#form input[type="radio"] + label .retroCont span::after{
  width:33px;
  height:45px;
  content:"n";
}
#form input[type="radio"]:checked + label .retroCont span::after{
    content:"x";
}
#form #submitWrapper{
  display : flex;
  flex-flow:row nowrap;
  justify-content:center;
  align-content:center;
  align-items:center;
  width:100%;
}
label > div {
  width:30px;
}
#box_civilite > .fcwscc:last-child{
  margin-left:50px;
}
#box_civilite > *,
#form .inputWrapper{
  width: 100%;
}
#form .inputWrapper input{
  width : 90%;
}
#box_civilite .fcwscc{
  width: 50%
}

#form input[type="text"],
#form input[type="tel"]{
  height:45px;
  font-size:1.5em;
  font-family:"noto";
}
#form span{
  font-size:1.5em;
}

.fcwscc{
  display : flex;
  flex-flow:column nowrap;
  justify-content:flex-start;
  align-content:flex-start;
  align-items:flex-start;
}
.frnwscc{
  display : flex;
  flex-flow:row nowrap;
  justify-content:flex-start;
  align-content:center;
  align-items:center;
}
.field_name{
  width:150px;
}
.field_name,
.txtCont{
  height:45px;
  display : flex;
  flex-flow:row wrap;
  justify-content:flex-start;
  align-content:center;
  align-items:center;
}
.txtCont{
  width:65px;
}
#form input[type="image"]{
  flex:0 1 auto;
  align-self:center;
  margin-top:40px;
}

#menu .toolBut{
  display : flex;
  flex-flow: column wrap;
  justify-content:flex-start;
  align-content:center;
  align-items:center;
  width: 120px;
  padding:0;
  margin:2px;
  border: 1px solid grey;
  border-radius:2px;
}
#menu .toolBut .icoCont,
#menu .toolBut .txtCont{
  display : flex;
  flex-flow: column nowrap;
  justify-content:center;
  align-content:center;
  align-items:center;
  width:120px;
  margin:0;
  padding:0;
}
#menu .toolBut .icoCont{
  font-family:"icons";
  font-size:3em;
  height:60px;
}
#menu .toolBut .txtCont{
  font-family:"noto";
  font-size:1.1em;
  padding:6px;
}

#tableContainer{
  width : 100vw;
  height: 100vh;
  display : flex;
  flex-flow: column nowrap;
  justify-content:flex-start;
  align-content:center;
  align-items:center;
}
#tableContainer #centeredCont{
  display : flex;
  flex-flow: column nowrap;
  justify-content:flex-start;
  align-content:center;
  align-items:center;
  margin-top:20px;
}
#tableContainer #bandTop{
  height:50px;
  width:100%;
  display : flex;
  flex-flow: row nowrap;
  justify-content:flex-end;
  align-content:center;
  align-items:center;
}
#tableContainer #bandBottom table{
  margin-top: 20px;
}
#tableContainer .closerCont{
  width:60px;
  height:60px;
  border-radius: 50%;
  background-color:rgb(235, 36, 36);
  display : flex;
  flex-flow: column nowrap;
  justify-content:center;
  align-content:center;
  align-items:center;
}
#tableContainer .closerCont span::after{
  font-size:2.5em;
  font-family:"icons";
  content:"r"
}
#tableContainer table,
#tableContainer th,
#tableContainer td{
  border-collapse : collapse;
  border: 2px solid white;
}
