@font-face {
 font-family: "icons";
 src: url("icomoon.woff") format("woff");
}
@font-face {
 font-family: "noto";
 src: url("NotoSans-Regular-webfont.woff") format("woff");
}
html{
  background-color:rgb(196, 180, 130);
  font-family : "noto", arial;
}
html .icon{
  font-family:"icons";
}
html, body{
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
}
body{
  display : flex;
  flex-flow:column nowrap;
  justify-content:flex-start;
  align-content:center;
  align-items:center;
}



#menu_but:focus {
  outline:0;
}
#menu_but::-moz-focus-inner {
  border: 0;
}


#menuWrapper{
  max-width:380px;
  display:flex;
  flex-flow:row wrap;
  justify-content:flex-start;
  align-content:flex-start;
  align-items:flex-start;
  background-color:rgb(190, 190, 190);
}
#form{
  width: 100%;
}
#form > * {
  margin-top:2px;
}
#form #box_civilite label{
  height:45px;
  width:120px;
  display:flex;
  flex-flow:row nowrap;
  justify-content:flex-start;
  align-content:center;
  align-items:center;
}
input[type="radio"]{
  display:none;
}
input[type="radio"] + label .retroCont{
    display : flex;
    flex-flow:row nowrap;
    justify-content:center;
    align-content:center;
    align-items:center;
    width:33px;
    height:45px;
}
#form input[type="radio"] + label .retroCont span{
  font-family:"icons";
  font-size:2em;
  height:40px;
  width:40px;
}
#form input[type="radio"] + label .retroCont span::after{
  width:33px;
  height:45px;
  content:"n";
}
#form input[type="radio"]:checked + label .retroCont span::after{
    content:"x";
}
#form #submitWrapper{
  display : flex;
  flex-flow:row nowrap;
  justify-content:center;
  align-content:center;
  align-items:center;
  width:100%;
}
label > div {
  width:30px;
}
#box_civilite > .fcwscc:last-child{
  margin-left:50px;
}
#box_civilite > *,
#form .inputWrapper{
  width: 100%;
}
#form .inputWrapper input{
  width : 100%;
}
#box_civilite .fcwscc{
  width: 40%
}

#form input[type="text"],
#form input[type="tel"]{
  height:45px;
  font-size:1.5em;
  font-family:"noto";
}
#form span{
  font-size:1.5em;
}


.field_name{
  width:150px;
}
.field_name,
.txtCont{
  height:45px;
  display : flex;
  flex-flow:row wrap;
  justify-content:flex-start;
  align-content:center;
  align-items:center;
}
.txtCont{
  width:65px;
}
#form input[type="image"]{
  flex:0 1 auto;
  align-self:center;
  margin-top:40px;
}


#menu .toolBut .icoCont,
#menu .toolBut .txtCont{
  display : flex;
  flex-flow: column nowrap;
  justify-content:center;
  align-content:center;
  align-items:center;
  width:120px;
  margin:0;
  padding:0;
}
#menu .toolBut .icoCont{
  font-family:"icons";
  font-size:3em;
  height:60px;
}
#menu .toolBut .txtCont{
  font-family:"noto";
  font-size:1.1em;
  padding:6px;
}

#tableContainer{
  width : 100vw;
  height: 100vh;
  display : flex;
  flex-flow: column nowrap;
  justify-content:flex-start;
  align-content:center;
  align-items:center;
}
#tableContainer #centeredCont{
  width:100%;
  display : flex;
  flex-flow: column nowrap;
  justify-content:flex-start;
  align-content:center;
  align-items:center;
  margin-top:20px;
}
#tableContainer #bandTop{
  height:50px;
  width:100%;
  display : flex;
  flex-flow: row nowrap;
  justify-content:center;
  align-content:center;
  align-items:center;
}
#tableContainer #bandBottom{
  width:100%;
  margin-top:15px;
  display : flex;
  flex-flow: column nowrap;
  justify-content:flex-start;
  align-content:center;
  align-items:center;
}

#tableContainer .closerCont{
  width:60px;
  height:60px;
  border-radius: 50%;
  background-color:rgb(235, 36, 36);
  display : flex;
  flex-flow: column nowrap;
  justify-content:center;
  align-content:center;
  align-items:center;
}
#tableContainer .closerCont span::after{
  font-size:2.5em;
  font-family:"icons";
  content:"r"
}


.couponBox{
  width: 80%;
  display : flex;
  flex-flow: column nowrap;
  justify-content:flex-start;
  align-content:center;
  align-items:center;
  margin:5px;
  border: 2px solid white;
  border-radius : 3px;
  background-color: rgb(210, 210, 210);
}
.couponBox .nameLine,
.couponBox .dataLine{
  width: 100%;
  display : flex;
  flex-flow: row nowrap;
  justify-content:flex-start;
  align-content:center;
  align-items:center;
  padding: 4px;
}
.fcnsss{
  display : flex;
  flex-flow: column nowrap;
  justify-content:flex-start;
  align-content:flex-start;
  align-items:flex-start;
}
.fcnscc{
  display : flex;
  flex-flow: column nowrap;
  justify-content:flex-start;
  align-content:center;
  align-items:center;
}
.fcnscc{
  display : flex;
  flex-flow: column nowrap;
  justify-content:center;
  align-content:center;
  align-items:center;
}
.frwsss{
  display : flex;
  flex-flow: row wrap;
  justify-content:flex-start;
  align-content:flex-start;
  align-items:flex-start;
}
.frnwccc{
  display : flex;
  flex-flow: row nowrap;
  justify-content:center;
  align-content:center;
  align-items:center;
}
.frncss{
  display : flex;
  flex-flow: row nowrap;
  justify-content:center;
  align-content:flex-start;
  align-items:flex-start;
}
.frnsss{
  display : flex;
  flex-flow: row nowrap;
  justify-content:flex-start;
  align-content:flex-start;
  align-items:flex-start;
}
.fcwscc{
  display : flex;
  flex-flow:column nowrap;
  justify-content:flex-start;
  align-content:flex-start;
  align-items:flex-start;
}
.frnwscc{
  display : flex;
  flex-flow:row nowrap;
  justify-content:flex-start;
  align-content:center;
  align-items:center;
}

#topBand{
  width: 100vw;
  height: auto;
}
#logoContainer{
  width:75vw;
}
#logo{
  margin:4px;
  width:100px;
  height:auto;
}
#bandeau_top{
  margin-top: 4px;
  max-width:540px;
  width:100%;
  height:auto;
}

#menu_but{
  width:25vw;
  height:100%;
  flex: 1 1 auto;
  font-size:3em;
  background-color:rgba(209, 209, 209, 0.5);
  outline: 0;
  border:1px solid white;
}
#mainBody{
  width:100%;
  flex: 1 1 auto;
  overflow-y: scroll;
}
#menu{
  width:100%;
}
#wraper{
  width:100%;
}

#menu .toolBut{
  width: 100%;
  padding:0;
  margin:0;
  border: 1px solid grey;
}
body *.invisible{
  display:none;
}
.inputRow,
#box_civilite{
  width:90%;
  align-self:center;
}
